---
import { Icon } from "astro-icon/components";
import "@shoelace-style/shoelace/dist/themes/light.css";

import { md2html } from "@lib/markdown-parsing.js";

import Layout from "@layouts/Page.astro";
import Button from "@components/ui/Button.astro";
import Container from "@components/ui/Container.astro";

import heroImage from "@img/nanyang-sites.400x400.webp?url";
import * as content from "@content/home-page.md";

import { datasets } from "@datasets";

const datasetsCt = Object.keys(datasets).length;
const columns = [
  Object.entries(datasets).slice(0, datasetsCt / 2),
  Object.entries(datasets).slice(datasetsCt / 2),
];
---

<Layout>
  <Container>
    <section class="hero">
      <div class="hero-section__text">
        <h1>Nanyang Sites GIS Data</h1>
        <Fragment set:html={content.compiledContent()} />
        <div class="hero-buttons">
          <Button href="/map" customIcon>
            Map
            <Fragment slot="icon">
              <Icon name="ic:baseline-chevron-right" />
            </Fragment>
          </Button>
          <Button href="/about" unelevated>More Info</Button>
        </div>
      </div>

      <div class="hero-image">
        <picture>
          <img
            src={heroImage}
            height="400"
            width="400"
            alt="Nanyang Sites GIS Data"
            loading="lazy"
          />
        </picture>
      </div>
    </section>
    <section>
      <h3>Our Datasets:</h3>
      <div class="datasets-wrapper">
        {
          columns.map((column) => {
            return (
              <div>
                {column.map(([id, dataset]) => {
                  return (
                    <sl-details summary={dataset.projectName}>
                      <Fragment set:html={md2html(dataset.description)} />
                      <Button href={`datasets/${id}`} customIcon outlined>
                        More
                        <Fragment slot="icon">
                          <Icon name="ic:baseline-chevron-right" />
                        </Fragment>
                      </Button>
                    </sl-details>
                  );
                })}
              </div>
            );
          })
        }
      </div>
    </section>
  </Container>
</Layout>

<script src="@scripts/shoelace.mjs"></script>
<style>
  .hero {
    align-items: center;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 400px;
    margin-bottom: 2rem;
  }

  .hero-buttons {
    align-items: center;
    display: flex;
    gap: 1rem;
  }

  .hero-buttons {
    margin-right: 1rem;
  }

  .hero-image {
    display: flex;
    justify-content: flex-end;
  }

  .hero-image img {
    width: 100%;
    height: 100%;
    max-height: 80dvh;
    object-fit: cover;
    border-radius: var(--theme-shape-radius);
  }

  .datasets-wrapper {
    display: flex;
    gap: 2%;
    overflow: hidden;

    > div {
      flex: 0 0 49%;
      max-width: 49%;
    }
    sl-details[open]::part(summary) {
      font-weight: bold;
    }

    :global(.btn) {
      float: right;
      margin-bottom: 1rem;
    }
  }

  @media (max-width: 768px) {
    .hero {
      grid-template-columns: 1fr;
    }

    .hero-image {
      justify-content: center;
    }

    .datasets-wrapper {
      flex-direction: column;

      > div {
        max-width: 100%;
      }
    }
  }
</style>
