---
import { Icon } from "astro-icon";

import { md2html } from "@lib/markdown-parsing.js";

import Layout from "@layouts/Page.astro";
import Button from "@components/ui/Button.astro";
import Container from "@components/ui/Container.astro";

import heroImage from "@img/nanyang-sites.400x400.png?url";
import * as content from "@content/home-page.md";

import { datasets } from "@datasets";
---

<Layout>
  <Container>
    <section>
      <div class="hero-section__text">
        <h1>Nanyang Sites GIS Data</h1>
        <Fragment set:html={content.compiledContent()} />
        <div class="hero-btns__container">
          <Button href="/explore" customIcon>
            Explore
            <Fragment slot="icon">
              <Icon name="ic:baseline-chevron-right" />
            </Fragment>
          </Button>
          <Button href="/about" unelevated>More Info</Button>
        </div>
      </div>

      <div class="hero-section__image">
        <picture>
          <img src={heroImage} alt="Nanyang Sites GIS Data" loading="lazy" />
        </picture>
      </div>
    </section>
    <div>
      <h3>Our Datasets:</h3>
      <ul>
        {
          Object.entries(datasets).map(([id, dataset]) => {
            return (
              <li>
                <a href={`datasets/${id}`} class="title">
                  {dataset.projectName}
                </a>
                <br />
                <span set:html={md2html(dataset.description)} />
              </li>
            );
          })
        }
      </ul>
    </div>
  </Container>
</Layout>

<style>
  section {
    align-items: center;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 400px;
    margin-bottom: 2rem;
  }

  .hero-btns__container {
    align-items: center;
    display: flex;
    gap: 1rem;
  }

  .hero-btns__container {
    margin-right: 1rem;
  }

  .hero-section__image {
    display: flex;
    justify-content: flex-end;
  }

  .hero-section__image img {
    width: 100%;
    height: 100%;
    max-height: 80dvh;
    object-fit: cover;
    border-radius: var(--theme-shape-radius);
  }

  li {
    overflow-wrap: break-word;

    a.title {
      font-weight: 600;
    }
  }

  li + li {
    margin-top: 2rem;
  }

  @media (max-width: 768px) {
    section {
      grid-template-columns: 1fr;
    }
  }
</style>
