---
import { Icon } from "astro-icon/components";

import { md2html } from "@lib/markdown-parsing.js";
import Layout from "@layouts/Page.astro";
import Container from "@components/ui/Container.astro";
import Panel from "@components/ui/Panel.astro";

import { datasets } from "@datasets";

export function getStaticPaths() {
  return Object.entries(datasets).map(([key, dataset]) => ({
    params: { dataset: key },
  }));
}

const { dataset } = Astro.params;

const {
  id,
  records,
  projectName,
  description,
  contact,
  license,
  repositoryUrl,
  repositoryName,
  repositoryRev,
  date,
} = datasets[dataset];
date.setUTCHours(12);

const isVersionOf = `${repositoryUrl}/tree/${repositoryRev}`;
---

<Layout {isVersionOf}>
  <Container>
    <h1>{projectName}</h1>
    <Panel
      surfaceNumber={1}
      className="description"
      set:html={md2html(description)}
    />
    <Panel surfaceNumber={2}>
      <dl>
        <dt>Repository</dt>
        <dd>
          <a href={repositoryUrl} rel="noopener" target="_blank"
            ><Icon name="mdi:github" /> {repositoryName}</a
          >
        </dd>
        <dt>Total Records</dt>
        <dd>{records.length.toLocaleString()}</dd>
        <dt>Contact</dt>
        <dd>{contact}</dd>
        <dt>Last Updated:</dt>
        <dd>{date.toDateString()}</dd>
        <dt>License</dt>
        <dd>
          <a href={license.url} rel="license" target="_blank">{license.name}</a>
        </dd>
      </dl>
    </Panel>
  </Container>
</Layout>

<style>
  dl {
    display: grid;
    grid-template-columns: 250px 1fr;
  }

  dt {
    font-weight: bold;
  }

  dd {
    overflow-wrap: break-word;
    overflow-x: hidden;
  }

  dd a {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  .description {
    font-size: var(--font-size-md);
  }

  [astro-icon] {
    height: 1rem;
  }

  @media (max-width: 720px) {
    dl {
      grid-template-columns: 1fr;
    }

    dd + dt {
      margin-top: 0.5rem;
    }

    dd {
      padding-left: 0.5rem;
    }
  }
</style>
